{% extends "layouts/layout.html.twig" %}
    
    {% block content %}
    <div class="container">

        {{ form_start(form_flight) }}
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    {{ form_widget(form_flight.number, { 'attr': {'class': 'form-control', 'placeholder': 'Flight number: '}}) }}
                    <label for={{ form_flight.number.vars.id }}>{{ form_flight.number.vars.label }}</label> 
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form_flight.from, { 'attr': {'class': 'form-control', 'placeholder': 'From: '}}) }}
                    <label for={{ form_flight.from.vars.id }}>{{ form_flight.from.vars.label }}</label>
                </div>
                <div class="form-group mb-3">
                    {{ form_row(form_flight.to) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form_flight.dateFlight) }}
                    {{ form_widget(form_flight.dateFlight) }}
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form_flight.plane) }}
                    {{ form_widget(form_flight.plane) }}                    
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form_flight.cargo) }}
                    {{ form_widget(form_flight.cargo) }}                    
                </div>
                <div class="form-group mb-3">
                    {{ form_label(form_flight.waybill) }}
                    {{ form_widget(form_flight.waybill) }}                    
                </div>
                <div class="input-group mb-3 justify-content-center">
                    {{ form_widget(form_flight.save) }}
                </div>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mb-3 text-center">
                        {{ message }}
                    </div>
                {% endfor %}    
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger mb-3 text-center">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('validError') %}
                    <div class="alert alert-warning mb-3 text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ form_end(form_flight) }}        
    </div>
    {% endblock %}
